<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Credenciamento</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>

    <ion-item>
      <h2>Resposável</h2>
      <p>PPG e PROEXAE</p>
    </ion-item>

    <ion-card-content>
      <p>
        <ion-icon name="pin"></ion-icon> Auditório da Biologia, Prédio Ciências Biológicas, Campus Paulo VI – São Luís
        – MA (06/11/2018)
      </p>
      <p><ion-icon name="time"></ion-icon> 08:30 às 15h00</p>
    </ion-card-content>

  </ion-card>

  <img src="assets/img/credenciamento.png" class="cred-image" />

  <!--
      
    -->

</ion-content>