<<ion-header>
  <ion-navbar>

    <ion-title>Minicursos</ion-title>
  </ion-navbar>
</ion-header>

  <ion-content padding>
    <ion-list>
      <ion-item ion-item text-wrap *ngFor="let session of sessions" (click)="apSelected(session)">
        <h2>{{session.title}}</h2>
      </ion-item>
    </ion-list>

  </ion-content>