<ion-header>
  <ion-navbar>
    <ion-title>Detalhes da Apresentação</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <div padding text-wrap class="title-color">
      <h1>
        <ion-icon name="bookmarks"> {{ apTitle }}</ion-icon>
      </h1>
    </div>
  </ion-item-divider>

  <ion-item-divider class="item-divider-wp-light no-border-botton color-text">
    <ion-item class="item-divider-wp-light">
      <h5>
        <ion-icon name="people"></ion-icon> Orientando(a):
      </h5>
      <br>
      <p>{{ apOrientando }}</p>
    </ion-item>

    <ion-item no-lines class="item-divider-wp-light">
      <h5>
        <ion-icon name="people"></ion-icon> Orientador(a):
      </h5>
      <br>
      <p text-wrap>{{ apOrientador }}</p>
    </ion-item>
  </ion-item-divider>

</ion-content>