<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>Apresentações Orais</ion-title>
  </ion-navbar>

  <!--PESQUISAR
  <ion-toolbar no-border-top>
    <ion-searchbar color="primary" [(ngModel)]="queryText" (ionInput)="updateprogramacao()" placeholder="Procurar">
    </ion-searchbar>
  </ion-toolbar>
-->

</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <!-- Quero pegar as sessoes do json-->
      <!--
      <ion-item-divider class="item-divider-color" sticky>
        <ion-label>
          Ciências Agrárias - Veterinária e Zootecnia
        </ion-label>
      </ion-item-divider>
      -->
      <ion-item-sliding class="border-botton-programacao">
        <button ion-item text-wrap *ngFor="let room of session.rooms" (click)="roomSelected(room)">
          <h3>{{room.name}}</h3>
          <!--<h3>{{room.sessao}}</h3>-->
        </button>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>