<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Semana Acadêmica</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>

    <ion-item>
      <h1>1ª Semana Acadêmica</h1>
      <p>30ºSEMIC E 11ºJOEX</p>
    </ion-item>

    <ion-card-content>
      <p>
        <ion-icon name="calendar"></ion-icon> PERÍODO: 6 a 9 de novembro de 2018<br>
        <ion-icon name="pin"></ion-icon> LOCAL: Campus Universitário Paulo VI, São Luís.<br>
        <ion-icon name="md-list-box"></ion-icon> Eventos integrados: SEMIC e JOEX.
      </p>
    </ion-card-content>

  </ion-card>

  <!--
    <img src="assets/img/semana-acad.png" class="slide-image"/>
  -->

</ion-content>