<ion-split-pane class="menu-color-image">

  <!-- logged out menu -->
  <ion-menu [content]="content">

    <ion-header>
      <ion-toolbar class="side-menu-color">
             <img src="assets/img/logo-semana-acad.png">
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Navegação
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          <!--Estou chamando o titulo das paginas-->
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- main navigation -->
  <ion-nav class="menu-color-image" [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

</ion-split-pane>
