<ion-header>
  <ion-navbar>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <div padding text-wrap class="title-color">
      <h1><ion-icon name="bookmarks"></ion-icon> {{session.name}}</h1>
    </div>
  </ion-item-divider>
  <ion-item-divider class="item-divider-wp-light no-border-botton color-text">
    <ion-item class="item-divider-wp-light">
      <h5><ion-icon name="pin"></ion-icon> Local</h5>
      <br>
      <p text-wrap >{{session.location}}</p>
    </ion-item>

    <ion-item *ngIf="session.date" class="item-divider-wp-light">
      <h5><ion-icon name="calendar"></ion-icon> Data</h5>
      <br>
      <p text-wrap > {{ session.date }}</p>
    </ion-item>

    <ion-item class="item-divider-wp-light">
      <h5><ion-icon name="time"></ion-icon> Horário</h5>
      <br>
      <p text-wrap > {{session.timeStart}} - {{session.timeEnd}}</p>
    </ion-item>

    <ion-item *ngIf="session.speakerName" class="item-divider-wp-light ">
      <h5><ion-icon name="people"></ion-icon> Palestrante(s):</h5>
       <br>
       <p>{{ session.speakerName }}</p>
    </ion-item>

    <ion-item *ngIf="session.speakers?.length > 0" class="item-divider-wp-light ">
      <h5><ion-icon name="people"></ion-icon> Palestrante(s):</h5>
       <p *ngIf="session.name == 'Relato Geral do Simpósio'">{{ session.speakerNames }}</p>
      <p *ngIf="session.speakers?.length > 0"></p>
      <br>
      <p text-wrap *ngFor="let speaker of session.speakers" > {{speaker.name}}</p>
    </ion-item>

    <ion-item no-lines class="item-divider-wp-light">
      <h5><ion-icon name="pricetag"></ion-icon> Descrição:</h5>
      <br>
      <p text-wrap> {{session.description}}</p>
      <p text-wrap *ngIf="session.name == 'Palestras Institucionais I'"> 
        <b>Modelo Mundial em Gestão Pública e Educação Técnica</b> - Fundação Indaiatubana de Educação e Cultura - FIEC <br>
        <b>Situações de Aprendizagem como Diferencial na Educação Profissionalizante do SENA</b> - Federação das Industrias do Estado Maranhão - FIEMA <br>
        <b>Equinox: Ateliê colaborativo de criação urbana.</b> - Curso de Arquitetura e Urbanismo - UEMA <br>
        <b>Porto inteligente uma experiência inovadora da VALE Maranhão.</b> - VALE
        </p>
         <p text-wrap *ngIf="session.name == 'Palestras Institucionais II'"> 
        <b>O uso de dispositivos móveis e aplicativos no processo de ensino e aprendizagem.</b> - Universidade Estadual de Goiás - UEG <br>
        <b>Produtos educacionais em uma perspectiva das metodologias de Design.</b> - Universidade Federal de Goiás - UFG <br>
        <b>Conhecendo o Instituto Metrópole Digital.</b> - Instituto Metrópole Digital - UFRN <br>
        <b>Sistema modular de gestão acadêmica: integração inteligente ao Moodle.</b> - Núcleo de Tecnologias para Educação - NIT/UEMAnet
        </p>
    </ion-item>
  </ion-item-divider>
</ion-content>
<ion-footer *ngIf="session.link">
    <button ion-button full (click)="openPdf(session.link)">Download da Programação</button>
</ion-footer>
