page-session-detail {
  // padding: 20px 0;
  // min-height: 200px;
  // text-align: center;

  // img {
  //   max-width: 150px;
  // }

  .title-color h1 {
    color: black;
    font-size: 1.8rem;
  }

  .color-text p{
    color: #666;
  }

  .scroll-content {
    background-color: rgb(245, 245, 245);
  }

  .no-border-botton {
    border-bottom: none;
  }
}