<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Pular</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

    <ion-slide class="slide-image">
      <img src="assets/img/todos(1).png" />
      <h2 class="slide-title">
        Bem vindo ao APP da <b>1ª SEMANA ACADÊMICA DA UEMA</b>
      </h2>
      <p>
        O APP <b>SEMANA ACADÊMICA</b> é uma forma rápida e fácil de você acessar as informações essenciais deste
        evento.
      </p>
    </ion-slide>

    <ion-slide class="slide-image">
      <img src="assets/img/ica-slidebox-img-2.png" />
      <h2 class="slide-title">Programação</h2>
      <p>Você pode visualizar a programação do evento, bem como montar sua própria agenda das atividades que deseja
        acompanhar.</p>
    </ion-slide>

    <ion-slide class="slide-image">
      <img src="assets/img/ica-slidebox-img-3.png" />
      <h2 class="slide-title">Palestras e Minicursos</h2>
      <p>Através do APP você consegue visualizar informações sobre as palestras e os minicursos, como também poderá ter
        acesso aos resumos desses.</p>
    </ion-slide>

    <ion-slide class="slide-image">
      <img src="assets/img/ica-slidebox-img-4.png" />
      <h2 class="slide-title">Tenha um bom evento!</h2>
      <p>A UEMA, em nome de toda a equipe da organização, deseja um ótimo evento!</p>
      <button text-wrap ion-button icon-right large clear (click)="startApp()">
        Continuar
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>