
page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    font-size: 2rem;
  }

  .slide-image img{
    max-height: 50%;
    max-width: 50%;
    margin: 50px;
  }

  b {
    font-weight: 2rem;
  }

  p {
    padding: 0 40px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
