<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Programação</ion-title>
  </ion-navbar>

  <!--PESQUISAR-->
  <ion-toolbar no-border-top>
    <ion-searchbar color="primary" [(ngModel)]="queryText" (ionInput)="updateprogramacao()" placeholder="Procurar">
    </ion-searchbar>
  </ion-toolbar>
  

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list #programacaoList [hidden]="shownSessions === 0">

    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">

      <ion-item-divider class="item-divider-color" sticky>
        <ion-label>
          <ion-icon name="calendar"> </ion-icon>
          {{group.time}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding class="border-botton-programacao" *ngFor="let session of group.sessions" #slidingItem
        [attr.track]="session.tracks[0] | lowercase" [hidden]="session.hide">

        <button ion-item text-wrap (click)="goToSessionDetail(session)">
          <h3>{{session.name}}</h3>

          <h5>
            <ion-icon name="time"></ion-icon> {{session.timeStart}} &mdash; {{session.timeEnd}} &nbsp; <ion-icon *ngIf="session.location"
              name="pin"></ion-icon> {{session.location}}
          </h5>
        </button>

      </ion-item-sliding>

    </ion-item-group>

  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
    Nenhuma atividade encontrada
  </ion-list-header>
</ion-content>