$categories: (
 ionic: color($colors, primary),
 social: #3BC7C4,
 palestra: #AC282B,
 mesaredonda: #FE4C52,
 angular: #AC282B,
 communication: #8E8D93,
 tooling: #FE4C52,
 services: #FD8B2D,
 design: #FED035,
 workshop: #69BB7B,
 food: #3BC7C4,
 documentation: #B16BE3,
 navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-programacao {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }

  .item-divider-color {
    background-color: rgb(72,138,255);
    color: white;
  }

    .item-divider-legenda {
    background-color: darkgoldenrod;
    color: white;
  }

  .border-botton-programacao {
    border-bottom: 1px solid #dedede;
  }

  .item-ios {
        font-size: 1.5rem;
  }

  .item-android {
    font-size: 2em;
}
}


